header, p {
	background-color: gray;
	border: solid 1px;
}

aside, div {
	border: solid 1px;
	background-color: whitesmoke;
}

footer {
border: solid 1px;	
background-color: gray;
}

@media (min-width:768px) {
	header, p {
		background-color: salmon;
	}
aside {
	background-color: sandybrown;
}

#c, #d, #e, #f, #g, #h {
	background-color: saddlebrown;
}
}



